<section class="region--footer">
  <div class="container">
    <div class="footer__mc">
      <nav class="footer__branding--mc">
        <img src="#" alt="EE Plateform" class="logo" />
        <div class="footer__mc-tagline">
          EE Plateform is a program of One To Many
        </div>
      </nav>
      <div class="footer__mc-chevron">
        <svg
          width="40"
          height="320"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
        >
          <polygon
            id="Path-2"
            fill="#CF102D"
            points="0 0 100 50 0 100"
          ></polygon>
        </svg>
      </div>
    </div>

    <div class="footer__ee">
      <div class="footer__branding--mm">
        <nav class="footer__ee-logo">
          <a class="mm-logo" href="/"
            ><img src="#" alt="EE Plateform by One To Many" class="logo"
          /></a>
        </nav>
        <div class="footer__ee-tagline">
          <p>
            EE Plateform is the world’s largest community of entrepreneurs and
            volunteer business mentors.
          </p>
        </div>
      </div>

      <nav class="footer__navigation">
        <div class="footer__ee-extra">
          <ul class="menu vertical">
            <li>
              <a href="#">Help Center</a>
            </li>

            <li>
              <a href="#">Frequently Asked Questions</a>
            </li>

            <li><a href="#">About</a></li>

            <li>
              <a href="#">How It Works</a>
            </li>

            <li>
              <a href="#">How it Helps</a>
            </li>

            <li><a href="#">Blog</a></li>
          </ul>
          <ul class="menu horizontal">
            <li>
              <a
                href="#"
                class="navigation__social-media-link"
                target="_blank"
                title="Facebook"
                ><i class="fab fa-facebook-f" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="navigation__social-media-link"
                target="_blank"
                title="Twitter"
                ><i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="navigation__social-media-link"
                target="_blank"
                title="LinkedIn"
                ><i class="fab fa-linkedin-in" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="navigation__social-media-link"
                target="_blank"
                title="Instagram"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="footer__ee-extra">
          <h5>Any Questions?</h5>

          <p>
            <a class="button clear no-padding black" href="/contact/"
              ><i class="fal fa-envelope" aria-hidden="true"></i
              >&nbsp;Contact</a
            >
          </p>
        </div>
        <div class="footer__ee-extra">
          <h5>EE Plateform is a non-profit, please support our mission.</h5>
          <p>
            <a class="button clear no-padding black" href="#"
              ><i class="fal fa-heart" aria-hidden="true"></i>&nbsp;Donate</a
            >
          </p>
        </div>
      </nav>
    </div>
    <!--/.footer__ee-->
  </div>
</section>
<section class="region--legalese">
  <div class="container">
    <div class="legalese__copyright">
      © EE Plateform Copyright 2021. All Rights Reserved
    </div>

    <ul class="menu vertical medium-horizontal legalese__menu">
      <li><a href="/privacy-policy/">Privacy Policy</a></li>
      <li><a href="/terms-of-use/">Terms of Use</a></li>
      <li><a href="/code-of-conduct/">Code of Conduct</a></li>
    </ul>
  </div>
</section>
